@import "@/styles/colors";
/* The container */
.container {
  direction: rtl;
  position: relative;
  padding-right: 35px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked {
      ~ .checkmark {
        background-color: blue;
        &:after {
          display: block;
        }
      }
    }
  }
  .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    // background-color: $color-white;
    border-radius: 4px;
    border: 1px solid gray;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 6px;
      top: 2px;
      width: 4px;
      height: 8px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  &:hover {
    input {
      ~ .checkmark {
        // background-color: #ccc;
      }
    }
  }
}