.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(226, 226, 226);
  .profileImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}