.wrapper {
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 2rem;
  color: white;
  .title {
    font-size: 28px;
    font-family: medium;
  }
  .description {
    font-size: 16px;
    margin-top: 0.5rem;
    color: rgba(255, 255, 255, 0.705);
  }
  form {
    margin-top: 2rem;
    width: 50%;
    input {
      width: 100%;
      font-size: 20px;
      border: 1px solid rgb(228, 226, 226);
      padding: 1rem 2rem;
      border-radius: 1.5rem;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.10);
      color: white;
    }
  }
}
